{% extends "base.html" %}
{% block topbar %} {{msg}} {% endblock %}

{% block content %}        
<form action="{{ url_for('update_table',table_name='News_source')}}" method="post" autocomplete="off">
        <br>
        <br>
        <table>
        <thead>
            <th>ID</th>
            <th>News Source</th>
            <th>Present </th>
            <th>Comment </th>

        </thead>
        <tbody>
        {% for row in data  %}  
        <tr> 
                <td>
                        {{row.id}} 
                </td>    
                <td>
                    {{ row.name }} 
                </td> 
                <td>{{ row.present }} 
                </td> 

                <td> {{ row.comment }}  
                </td>
            
        </tr> 
        {% endfor %} 
        </tbody>

        </table>
        <br>
        <br>
        </form>


{% endblock %}
