{% extends "base.html" %}
{% block head %}<h1>News Source Management Portal</h1>{% endblock %}

{% block body %}
<div class="one">
    <div class="two">
        <h2>Available Options</h2>
        <ul>
            <li><a href="{{url_for('get_source_in_progress',table_name='News_source')}}">News Source In Progress</a></li>
            <li class="active"><a href="{{url_for('get_source_not_started',table_name='News_source')}}">News Source Not Started</a></li>
            <li><a href="{{url_for('insert_into_table',table_name='News_source')}}">Add News Source</a></li>

            <li><a href="{{url_for('get_completed_sources',table_name='News_source')}}">Completed News Sources</a></li>
	    <li><a href="{{url_for('copy_file')}}">Upload Final Cleaned File to S3 bucket</a></li>
            <li><a href="{{url_for('copy_file_ipo')}}">Upload Intial_IPO File_Not_Cleaned to S3 bucket</a></li>
	    <li><a href="{{url_for('storage')}}"> Download Uncleaned IPO file from S3 buckete</a></li>

        </ul> 
    </div>
    <div class="content" align="center">
        <div class="topbar">
            <h2>{{msg}} </h2>                        
        </div>  </br>
        <div class="contentbar">
        <form action="{{ url_for('update_table',table_name='News_source')}}" method="post" autocomplete="off">
        <br>
        <br>
        <!-- Output 1 -->
        <table>
        <thead>
            <th>ID</th>
            <th>News Source</th>
            <th>Present </th>
            <th>Comment </th>


        </thead>
        <tbody>
        {% for row in data  %}  

        <tr> 
                <td>
                        {{row.id}} 
                        <input type="hidden" name="rowid[]" value="{{ row.id }}" />
                        
                </td>    
                <td>
                    {{ row.name }} 
                </td> 
                <td><input type="text" name="present[]" placeholder= {{ row.present }} class="textbox" id="present" >
                </td> 

                <td><input type="text" name="comment[]" placeholder= {{ row.comment }} class="textbox" id="comment" >
                </td>

            
                
            
        </tr> 
        {% endfor %} 
        </tbody>

        </table>
        <br>
        <br>
        <button name="forwardBtn" onclick="update_table('News_source')">Update Record</button>
        </form>
    </div>
</div>


{% endblock %}

