{% extends "base.html" %}
{% block head %}<h1>News Source details</h1>{% endblock %}

{% block body %}
<div class="one">
    <div class="two">
        <h2>Side Bar</h2>
        <ul>
            <li><a href="{{url_for('get_source_in_progress',table_name='News_source')}}">News Source In Progress</a></li>
            <li class="active"><a href="{{url_for('get_source_not_started',table_name='News_source')}}">News Source Not Started</a></li>
            <li><a href="{{url_for('get_completed_sources',table_name='News_source')}}">Completed News Sources</a></li>
        </ul> 
    </div>
    <div class="content" align="center">
        <div class="topbar">
            <h2>{{msg}} </h2>                        
        </div>  </br>
    </div>
</div>


{% endblock %}

