{% extends "base.html" %}
{% block head %}<h1>News Source details</h1>{% endblock %}

{% block body %}
<div class="one">
    <div class="two">
        <h2>Side Bar</h2>
        <ul>
            <li><a href="{{url_for('get_source_in_progress',table_name='News_source')}}">News Source In Progress</a></li>
            <li class="active"><a href="{{url_for('get_source_not_started',table_name='News_source')}}">News Source Not Started</a></li>
	    <li><a href="{{url_for('insert_into_table',table_name='News_source')}}">Add News Source</a></li>
            <li><a href="{{url_for('get_completed_sources',table_name='News_source')}}">Completed News Sources</a></li>
            <li><a href="{{url_for('copy_file')}}">Upload Final Cleaned File</a></li>
            <li><a href="{{url_for('copy_file_ipo')}}">Upload Intial_IPO File_Not_Cleaned</a></li>


        </ul> 
    </div>
    <div class="content" align="center">
        <div class="topbar">
            <h2>{{msg}} </h2>                        
        </div>  </br>
        <div class="contentbar">
        <form action="{{ url_for('insert_into_table',table_name='News_source')}}" method="post" autocomplete="off">
        <br>
        <br>
        <table id="tbl1">
        <thead>
            <th>News Source</th>
            <th>Present </th>
            <th>Comment </th>

        </thead>
        <tbody>
        
        <tr> 
                <td >
                    <input type="text" name="name1" placeholder="Enter News Source Name" class="textbox" id="name1" required></br></br>    
                </td>    
                <td >
                    <input type="text" name="present" placeholder="Enter status -0/1/2" class="textbox" id="present" required></br></br>
                    
                </td> 

                <td>  
                    <input type="text" name="comment" placeholder="Enter comment" class="textbox" id="comment" ></br></br>    
                </td>
            
        </tr> 
        </tbody>

        </table>
        <button name="submit" onclick="insert_into_table('News_source')">Add Record</button>
        <br>
        <br>
        </form>
    </div>
</div>


{% endblock %}

