{% extends "base.html" %}

{% block topbar %} {{msg}} {% endblock %}            
{% block content %}

        <form action="{{ url_for('insert_into_table',table_name='News_source')}}" method="post" autocomplete="off">
        <br>
        <br>
        <table id="tbl1">
        <thead>
            <th>News Source</th>
            <th>Present </th>
            <th>Comment </th>

        </thead>
        <tbody>
        
        <tr> 
                <td >
                    <input type="text" name="name1" placeholder="Enter News Source Name" class="textbox" id="name1" required></br></br>    
                </td>    
                <td >
                    <input type="text" name="present" placeholder="Enter status -0/1/2" class="textbox" id="present" required></br></br>
                    
                </td> 

                <td>  
                    <input type="text" name="comment" placeholder="Enter comment" class="textbox" id="comment" ></br></br>    
                </td>
            
        </tr> 
        </tbody>

        </table>
        <button name="submit" onclick="insert_into_table('News_source')">Add Record</button>
        <br>
        <br>
        </form>


{% endblock %}

