<html>
    <head>
        <meta charset="UTF-8">   
        <link rel="stylesheet" href="../static/style.css">

    </head>
    <body bgcolor="#e6ffee">
        <div class="one">
            <div class="two">
                <h2>Available Options</h2>
                <ul>
                    <li><a href="{{url_for('get_source_in_progress',table_name='News_source')}}">News Source In Progress</a></li>
                    <li class="active"><a href="{{url_for('get_source_not_started',table_name='News_source')}}">News Source Not Started</a></li>
                    <li><a href="{{url_for('get_source_in_progress',table_name='News_source')}}">Completed News Sources</a></li>
		    <li><a href="{{url_for('copy_file')}}">Upload File</a></li>
                </ul> 
            </div>
            <div class="content" align="center">
                <div class="topbar">
                    <h2>{{msg}} </h2>                        
                </div>  </br>
                <div class="contentbar">
                    <br>
                    <br>
                    <table>
                        <thead>
                            <th>ID</th>
                            <th>News Source</th>
                            <th>Present </th>
                            <th>Comment </th>
                        
                        </thead>
                        <tbody>
                        {% for row in data  %}     
                        <tr> 
                                <td> {{row.id}}                                 
                                </td>    
                                <td>
                                    {{ row.name }} 
                                </td> 
                                <td>{{ row.present }} 
                                </td> 
                                <td>{{ row.comment }} 
                                </td>
                        </tr> 
                        {% endfor %} 
                        </tbody>
                        
                        </table>
                </div>
            <div>
        </div>
    </body>
</html>
