{% extends "base.html" %}
{% block head %}<h1>News Source Management Portal</h1>{% endblock %}

{% block body %}
<div class="one">
            <div class="two">
                <h2>Available Options</h2>
                <ul>
                    <li><a href="{{url_for('get_source_in_progress',table_name='News_source')}}">News Source In Progress</a></li>
                    <li class="active"><a href="{{url_for('get_source_not_started',table_name='News_source')}}">News Source Not Started</a></li>
                    <li><a href="{{url_for('insert_into_table',table_name='News_source')}}">Add News Source</a></li>

                    <li><a href="{{url_for('get_source_in_progress',table_name='News_source')}}">Completed News Sources</a></li>
                    <li><a href="{{url_for('copy_file')}}">Upload Final Cleaned File</a></li>
		    <li><a href="{{url_for('copy_file_ipo')}}">Upload Intial_IPO File_Not_Cleaned</a></li>
                </ul> 
            </div>
            <div class="content" align="center">
                <div class="topbar">
                    <h2>{{msg}} </h2>                        
                </div>  </br>
                <div class="contentbar">
                    <form action="{{ url_for('copy1_ipo')}}" method="post" autocomplete="off" enctype="multipart/form-data" >
                        <label ><b>Choose the file  to upload:</b></label>
                        <br>
                        <br>
                        <input type="file" placeholder="Choose folder" id="file"  name="file" required/><br><br>
                        
                        <br>
                        
                        <button name="submit" onclick="copy1_ipo()">Upload FIle</button>
                    </form>
                </div>
            </div>
    </div>

{% endblock %}
 
